---
import { Picture } from 'astro:assets';

    interface Props {
        content: string;
        image: string;
        width: number;
        height: number;
    }
    const { content, image, width, height } = Astro.props;
---
<section class="grid grid-cols-1 lg:grid-cols-2 gap-10 w-full">
    <Picture
        src={image}
        alt="Imagen de la cafetería"
        width={width}
        height={height}
        class="w-full h-auto rounded-lg object-cover lg:-skew-y-2 shadow-lg"
    />
    <div class="text-xl text-coffee-800 space-y-3 mt-10 lg:mt-0" set:html={content}></div>
</section>