---
import { getContactPage } from '@/contact/infrastructure/contact.repository'
import Layout from '@/layouts/Layout.astro'

const contact = await getContactPage()

if (!contact) {
  return Astro.redirect('/404')
}
---

<Layout
  title={contact.title}
  subtitle={contact.subtitle}
  bgImage={contact.backgroundImage ?? ''}
>
  <h1 class="text-4xl font-black text-coffee-500">{contact.title}</h1>
  <h2>{contact.subtitle}</h2>
</Layout>
