---
import { getWPPageBySlug } from '../lib/wp';
import LIstIcons from '@/components/home/LIstIcons.astro';
import Layout from '../layouts/Layout.astro';

const data = await getWPPageBySlug('inicio');

if (!data) {
  return Astro.redirect('/404');
}

const title = data.title.rendered
const subtitle = data.acf.subtitle
const bgImage = data.featured_images?.full.url!
const content = data.content.rendered
---

<Layout
  title={title}
  subtitle={subtitle}
  bgImage={bgImage}
>
	<div class="space-y-4 text-center text-coffee-800 text-lg mt-10" set:html={content}></div>
	<LIstIcons />

</Layout>
