---
import MenuItem from "./MenuItem.astro";
import type { MenuItem as MenuItemType } from '@/menu/domain/menu.model'

interface Props {
  items: MenuItemType[]
}

const { items } = Astro.props
---
<div id="menu-gallery-coffee">
    <h4 class="text-white font-black text-4xl uppercase text-center my-10">Café</h4>
    {
        items.map(item => (
            <MenuItem item={item} />
        ))
    }
</div>

<script>
    import { createLightbox } from "@/gallery/application/lightbox.service";

    document.addEventListener('astro:page-load', () => {
        const cleanup = createLightbox('#menu-gallery-coffee');
        document.addEventListener('astro:before-preparation', cleanup, { once: true });
    });
</script>
