---
    import CategoryIconLabel from "@/components/ui/CategoryIconLabel.astro";
---

<section class="grid grid-cols-1 lg:grid-cols-3">
    <CategoryIconLabel
        label="Café"
        icon="./icon_coffee.svg"
    />
    <CategoryIconLabel
        label="Postres"
        icon="./icon_dessert.svg"
    />
    <CategoryIconLabel
        label="Té"
        icon="./icon_tea.svg"
    />
</section>