---
    import CategoryIconLabel from "@/home/ui/CategoryIconLabel.astro";
---

<section class="grid grid-cols-1 lg:grid-cols-3">
    <CategoryIconLabel
        label="Café"
        icon="./icon_coffee.svg"
        class="opacity-0 hover-scale js-scroll-fade-left"
    />
    <CategoryIconLabel
        label="Postres"
        icon="./icon_dessert.svg"
        class="opacity-0 hover-scale js-scroll-fade-up"
    />
    <CategoryIconLabel
        label="Té"
        icon="./icon_tea.svg"
        class="opacity-0 hover-scale js-scroll-fade-right"
    />
</section>
