---
import { Picture } from 'astro:assets'

interface Props {
  content: string
  image: string
  width: number
  height: number
}
const { content, image, width, height } = Astro.props
---
<section class="grid grid-cols-1 lg:grid-cols-2 gap-10 w-full">
  <div class="w-full opacity-0 js-scroll-fade-left">
    <div class="relative w-full rounded-lg shadow-2xl overflow-hidden vintage-vignette js-scroll-tilt">
      <Picture
        src={image}
        alt="Imagen de la cafetería"
        width={width}
        height={height}
        class="w-full h-auto object-cover block"
        formats={['avif', 'webp', 'jpeg']}
      />
    </div>
  </div>
  <div class="opacity-0 text-xl text-coffee-800 space-y-3 mt-10 lg:mt-0 js-scroll-fade-right" set:html={content}></div>
</section>
