---
interface Props {
    icon: string;
    label: string;
}
const { icon, label } = Astro.props;
---
<article class="py-10 space-y-5 flex flex-col items-center secondary-family text-coffee-400">
    <img src={icon} alt={label} />
    <h3>{label}</h3>
</article>